.agents-main-container {
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
}

.agents-card-container {
    width: 75%;
    margin: 16px auto auto auto;
    display: flex;
    gap: 2px;
}

.agent-card {
    padding: 35px;
    text-align: center;
    margin-left: 1px;
    background-color: #fff;
}

.agent-card:hover {
    box-shadow: 0 70px 70px rgba(0, 0, 0, .2);
    transform: translate(0,-10px);
    transition: .2s;
}

.agent-card img {
    width: 150px;
    border-radius: 100px;
}

.agent-name {
    padding-top: 35px;
    color: #00aeef;
    font-weight: 500;
}

.agent-title {
    font-family: "Work Sans", "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}

.agent-description {
    color: #636363;
    padding: 20px 0;
}

.agent-link {
    color: #00aeef;
    font-weight: 500;
}

@media (min-width: 320px) and (max-width: 912px) {

    .agents-card-container {
        flex-direction: column;
    }
}