.scrow-top-container {
    position: fixed;
    background-color: #FFF;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    width: 42px;
    height: 42px;
    color: #FFF;
    background-color: #00aeef;
    border-radius: 5px;
    z-index: 10;
}

.scrow-top-container a {
    text-decoration: none;
    color: #FFF;
}

.scrow-arrow {
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    margin: 20px 16px;
    margin-bottom: 3px;
    transform: rotate(-135deg);
}
