.contact-navbar-bg {
    background-color: #004274;
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;
}

@media (min-width: 320px) and (max-width: 912px) {
    .contact-navbar-bg {
        display: none;
    }

}
