.welcome-main-container{
    display: flex;
    flex-direction: column;
}

.background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg,rgba(0,66,116,0.35) 0%, #004274 100%);
    height: 75vh;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

}

.slideshow {
    list-style-type: none;
    height: 75vh;
}

.slideshow,
.slideshow:after {
    top: -16px;
    position: absolute;
    width: 100%;
    height: 75vh;
    left: 0px;
    z-index: 0;
}

.slideshow li span {
    position:absolute;
    width: 100%;
    height: 75vh;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 0;
    animation: imageAnimation 18s linear infinite;
}



.slideshow li:nth-child(1) span {
    background-image: url("https://houzez-real-estate-react.netlify.app/static/media/miami-beach.bc137e772a4f3e42074a.jpg");
    animation-delay: 0s;
}

.slideshow li:nth-child(2) span {
    background-image: url("https://houzez-real-estate-react.netlify.app/static/media/chicago.8d29bd36bf7bdd9921ad.jpg");
    animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
    background-image: url("https://houzez-real-estate-react.netlify.app/static/media/new-york.d964110a82e0e635a149.jpg");
    animation-delay: 12s;
}



@keyframes imageAnimation {

    0% {
        transform: scale(1);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }
    
    60% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
    }
}


.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

.welcome-text {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: #FFF;
    z-index: 10;
    height: 75vh;
    margin-top: -100px;
}

.welcome-text h2 {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-weight: 300;
}

.welcome-text p {
    font-family: "work sans", sans-serif;
    text-align: center;
    font-size: 25px;
    max-width: 814px;
    margin: 0;
    line-height: 1.5em;
}

.welcome-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 430px;
    z-index: 2;
    background-color: #004274;
}

.welcome-cards-wrapper {
    max-width: 72%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-self: center;
    color: #FFF;
    gap: 1px;
}

.welcome-card {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg,rgba(255,255,255,0.1) 0%,rgba(242,41,91,0) 100%);
    height: 253px;
    padding: 20px;
}

.welcome-card:hover {
    box-shadow: 0 70px 70px rgba(0,0,0,.2);
    transform: translate(0,-10px);
    transition: .2s;
}

.welcome-card-title {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.welcome-card-text {
    font-size: 17px;
    text-align: center;
    color: rgba(255,255,255,.78);
    width: 80%;
    padding: 10px 0 20px;
    font-family: 'Work Sans', "Roboto", sans-serif;
}

.welcome-card-link {
    color: #00aeef;
    font-family: 'Work Sans', "Roboto", sans-serif;
    font-weight: 500;
}
.welcome-line-bottom {
    background-color: #FFF;
    border-top: 90px solid #004274;
    border-right: 1700px solid transparent;
}