
.paralax-background {
    background-image: url("../../../../../public/paralax.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.paralax-background-overlay {
    opacity: 1;
    background-color: rgba(0,66,116,.45);
    height: 100vh;
    width: 100%;
    position: absolute;
}

.paralax-line-top {
    position: absolute;
    border-top: 100px solid #fff;
    border-right: 1700px solid transparent;
}

.paralax-line-bottom {
    position: absolute;
    bottom: 0;
    border-top: 100px solid transparent;
    border-right: 1700px solid #fff; 
}

.paralax-body-container {
    display: flex;
    align-items: center;
    justify-content:center;
    gap:32px;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}

.paralax-text {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #fff;
    width: 714px;
    line-height: 1.35em;
    text-align: center;
    z-index: 1;
}

.paralax-cards-container {
    width: 940px;
    height: 155px;
    z-index: 1;
    display: flex;
    gap:2px;
}

.paralax-card {
    background-color: rgba(0,66,116,.71);
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}

.paralax-card:hover {
    transform: translate(0, -10px);
    transition: .2s;
    box-shadow: 0 70px 70px rgba(0,0,0,.2);
}

.paralax-card-text {
    font-family: "roboto condensed", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}