.blog-main-container {
    background-color: #f8f8f8;
}

.blog-cards-main-container {
    display: flex;
    gap:16px;
}

.blog-card {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-bottom: 64px;
    height: min-content;
}

.blog-card-img {
    position: relative;
    max-width: 100%;
    padding:10px;
}

.blog-card-img img {
    width: 100%;
    height: 196px;
    border-radius: 6px;
    object-fit: cover;
}

.blog-card-img::before{
    content:"";
    position: absolute;
    height: 206px;
    width: calc(100% - 20px);
    top: 0;
    left: 10px;
    opacity: .7;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .90) 100%);
}

.blog-card-img:hover::before {
    opacity: 0;
    transition: .2s;
}

.blog-card-body {
    font-family: "Work Sans", sans-serif;
    padding: 10px 20px 20px;
    flex: 0 0 60%;
    color: #636363;
}

.blog-date {
    font-size:  12px;
    color: #636363;
    padding:0 10px;
}

.blog-category {
    font-size:  12px;
    color: #00aeef;
    padding-left:10px;
}

.blog-title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding-bottom:10px;
}

.blog-text {
    color: #636363;
    font-size: 13px;
    padding-bottom: 10px;
}

.blog-link {
    color: #00aeef;
    font-size: 13px;
    font-weight: 500;
}

.blog-post-author {
    border-top: 1px solid #dce0e0;
    padding: 10px 0;
    font-family: "Work Sans", sans-serif;
    color: #636363;
    font-size: 12px;
    max-height: min-content;
}

.blog-post-author-name {
    padding: 10px;
}