.header-main {
    background-color: transparent;
    scroll-behavior: smooth;
}

.header-container {
    font-family: "Roboto Condensed", sans-serif;
    max-width: 1210px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    z-index: 11;
}

.logo {
    height: 24px;
    width: 127px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1 ;
}

.main-nav-ul {
    display: flex;
    line-height: 90px;
    max-height: 90px;
}


.main-nav-li {
    font-weight: 500;
    padding: 0 15px;
}

.main-nav-li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main-nav-li-a {
    display: inline-block;
    font-family: "Roboto Condensed";
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    height: 100%;
}

.login-section {
    min-height: 20px;
}

.login-section-ul {
    align-items: center;
    display: flex;
    height: 90px;
}

.login-section-ul li {
    height: 100%;
    display: flex;
    align-items: center;
}

.create-listing-btn {
    font-family: "Roboto Condensed", sans-serif;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 15px;
    border-radius: 0.25rem;
    line-height: 40px;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    transition: .15s ease-in-out;
}

.create-listing-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.login-icon {
    font-size: 22px;
    margin-right: 16px;
}

.favorites {
    display: none;
    position: absolute;
    align-items: center;
    gap: 10px;
    top: 80px;
    left: 75%;
    font-size: 15px;
    padding: 16px 20px;
    background-color: #fff;
    color: #000;
}

.favorites:hover {
    color:#0056b3;
}

.show-favorites {
    display: flex;
}

.favorites-number {
    font-size: 13px;
    background-color: #0056b3;
    border-radius: 50%;
    padding: 0 6px;
    color: #fff;
}

.arrow {
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
    margin-left: 6px;
}

.down {
    transform: rotate(45deg);
}

.top {
    transform: rotate(-135deg);
}

/* Responsie navbar */

.resp-header-container {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    background-color: #fff;
    color: #000;
    height: 60px;
    font-size: 20px;
    z-index: 10;
}

.resp-nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 32px;
}

.resp-btn {
    border: none;
    background-color: inherit;
    height: 100%;
    cursor: pointer;
    width: 32px;
}

.resp-nav-ul {
    position: relative;
    display: none;
    flex-direction: column;
    width: 35%;
    height: 100vh;
    padding: 0;
    background-color: #fff;
}

.resp-nav-ul li {
    border-bottom: 1px solid #000;
}


@media (min-width: 320px) and (max-width: 912px) {
    
    .header-container {
        display: none;
    }

    .resp-header-container {
        display: flex;
    }

}

